<div class="body">
    <div class="header">
      <h1>Machine Learning made beautifully simple for everyone
      </h1>
  
      <p>Take your business to the next level with the leading Machine Learning platform</p>
    </div>
    <main class="feature_wrapper">
      <div class="first_column columns">
        <div class="features first_box">
          <h3>Interpretable & Exportable Models</h3>
          <p>All predictive models on BigML come with an interactive visualization and explainability features that make them interpretable. They can be exported and used to serve local, offline predictions on any edge computing device.</p>
          <img src="https://lh3.googleusercontent.com/LzFpFqbguz3VG_j9Kt2wzdyOH8hIq832sX1zp1K6099N3veMSeD4BH0ezZ3YT9nNEBiShdJ7HbQuzg1TM3ZYRtesFp9PA-WuWafAvXitLa1zrLBT_dcIR8lnLhDPHYPxCG5j_24uqA=s64-no" alt="">
  
        </div>
      </div>
      <div class="second_column columns">
        <div class="features second_box">
          <h3>Programmable & Repeatable</h3>
          <p>As an "API-first" company, BigML brings every new feature first to the REST API. Bindings & libraries are available for all popular languages, including Python, Node.js, Ruby, Java, Swift, and more.</p>
          <img src="https://lh3.googleusercontent.com/WSZUn5M5M19i61ngub1Up__aw4Kk9la4JEVDjjSgQuRKyK1RjyI4tD8jqdp-_PVLdbGOzwMFmM2hgrv4V-4RxtwxDszMyCal5YzcWYArUCw3aZ_deCnD-J5B_EjRntesWWzvTIhfvw=s64-no" alt="">
        </div>
        <div class="features third_box">
          <h3>Automation</h3>
          <p>Rapidly bring your predictive modeling tasks to production through effective automation. BigML turns the difficult, time-consuming work of hand-tuning models or executing complex workflows into one-click menu options or single API calls.</p>
          <img src="https://lh3.googleusercontent.com/NiCsLueQ9HOhkjd5o6KpKXfGL6SCf7gntL6O1Tl_bbguzFx0tnxHRmaNnHiZP5TC1jonIArJQZL0icR8eP9_S5UKrxxc2llDuAgqlE8ANnMKUS_5RyMGY9lsL9unUfxKB9iZtmWOfQ=s64-no" alt="">
  
        </div>
      </div>
      <div class="third_column columns">
        <div class="features last_box">
          <h3>Security & Privacy</h3>
          <p>Every user has a private Dashboard and all resources created on it or via BigML's API are secure and private. All connections to BigML use HTTPS, ensuring the security of user data and communications.</p>
          <img src="https://lh3.googleusercontent.com/doo6EQPqQ-Y_2NerWC8YMTGKf8GzQQL-1Xq9UNVKPDUOf_5392sx3jfjbJpJTly9T3Tv013SO0fBBioeFs32l__PmCskmyOZdBngfu1cIDJbiq089Yd0Rqf6s89ihPNNk--TdSJSzA=s64-no" alt="">
        </div>
      </div>
    </main>
  <mat-divider></mat-divider>
  <br />
    </div>